@model IEnumerable<Thesis_Datenbank_Aufgabe.Models.Thesis>

@{
    ViewBag.Title = "Index";
}

<h2>Übersicht der abgegebenen Thesen</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            
             @Html.DisplayNameFor(model => model.Creator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.StudentName)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Registration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Filing)
        </th>
        <th> 
            @Html.DisplayNameFor(model => model.Typ)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            
            <a href="models.Supervisor.Mail"> @Html.DisplayFor(modelItem => item.supervisor)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bachelor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Master)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            <a href="model.StudentEmail">@Html.DisplayFor(modelItem => item.StudentName)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Registration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Filing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Typ)
        </td>
        
        <td>
            @Html.ActionLink("Bearbeiten", "Edit", new { id=item.Id })
           
        </td>
    </tr>
}

</table>
